Page {
    background-color: white;
    font-size: 17;
}
TextField {
    margin: 10;
    padding: 10;
    background-color: #FAFAFA;
    border-width: 1;
    border-style: solid;
    border-color: #034793;
}
Button {
    margin: 10;
    border-width: 1;
    border-style: solid;
    border-color: #034793;
}